body {
    font-family: 'Times New Roman', Times, serif, 'Open Sans    ';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(53, 53, 53);


}

/* HEADER */
header {
    height: 550px;
    background-color: #a8d4dd;
    padding: 50px 350px 50px 200px;
    font-family: 'Times New Roman , Open Sans';

}
.menu__header .menu-diferente {
    border-radius: 10px;
     background-color: rgb(53, 53, 53);
     padding: 10px;
     color: #a8d4dd;
}


.nav__header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

.corazon-logo__header {
    display: flex;
    font-size: 35px;

}

.borde {
    border-radius: 10px;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    color: #a8d4dd;

}

.fa-solid {
    margin-right: 15px;

}

.menu__header a {
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-size: 27px;
    margin-left: 3rem;
    font-weight: 550;

}


.template {
    display: flex;
    margin-top: 80px;
}

.template--text {
    display: flex;
    width: 45%;
    padding: 85px;

}

.template--text h1 {
    margin: auto;
    color: aliceblue;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
}

.template--imagen {
    display: flex;
    width: 50%;

}

.template--imagen img {
    margin: auto;
    width: 420px;
    height: 350px;
}

.circulo {
    display: flex;
    justify-content: center;
}

.fa-duotone {
    font-size: 30PX;
    margin: 7px;
    border-radius: 50px;
}

.circulo--siguiente {
    color: #a8d4dd;
    border: 4px solid white;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin: 7px;

}

.circulo--diferente {
    border: 4px solid white;
    border-radius: 100%;
    background-color: white;
    height: 25px;
    width: 25px;
    margin: 7px;
}


/* Main */

/*Section 1*/

.flat__section2 {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 90px 0;
}

.flat--flat, .flat--great, .flat--browser {
    width: 20%;
    margin: auto;
    text-align: center;


}

.flat--browser img{
    height: 150px;
     width:186px ;
}

.flat-p1 {
    color: gray;

}

/* Section 2*/

.recent__section2 {
    height: 1330px;
    background-color: #97d2a4;
}

.recent--titulo h1 {
    margin: auto;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 900;
}

.recent--titulo p {
    margin: auto;
    width: 40%;
    color: rgb(168, 168, 168);
    font-weight: 100;
    text-align: center;
    font-size: 18px;

}

.nav-recent {
    margin: auto;
    padding: 4rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    width: 55%;

}

.nav-recent a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.nav-recent .nav-recent--diferent{
    background-color: white; 
    color: gray; 
    padding: 10px; 
    border-radius: 10px;
}

.nav-recent .nav-recent--diferent2{
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid white;
}

.recent-imagenesg {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.recent-imagenesg--im1 {
    padding: 2.8rem;
}



.recent--botom .show-more {
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px white;
    color: gray;
    text-decoration: none;
    background-color: whitesmoke;
}

/*Section 3*/

.layre__section3 {
    background-color: #f1f1f1;
    height: 900px;
    padding-top: 5rem;
}

.container-layred {
    display: flex;
    width: 70%;
    margin: auto;
    padding-bottom: 8rem;
}

.container-layred--documento {
    width: 30%;
    padding-right: 3rem;
    order: 0;
}

.container-layred--texto {
    width: 70%;
    order: 1;
    font-size: 20px;
}

.show-more2 {
    text-decoration: none;
    color: whitesmoke;
}
.boton-layred{ 
    padding: 8px 25px;
    border-radius: 10px;
    border: 1px white;
    color: whitesmoke;
    background-color: #97d2a4;
    width: 18%;
}

.container-layred--documento2 {
    width: 23%;
    padding: 0 3rem;
    order: 1;
}

.container-layred--texto2 {
    width: 70%;
    order: 0;
    font-size: 20px;
}

.layred-linea {
    height: 1px;
    background-color: gray;
    width: 70%;
    margin: auto;
}

.boton-layred2 {
    padding: 8px 25px;
    border-radius: 10px;
    border: 1px white;
    color: whitesmoke;
    background-color: #a8d4dd;
    width: 18%;
}

.secum {
    padding-top: 8rem;

}
a{
    text-decoration: none;
}

/* Section 4*/

.meet__section4 {
    background-color: #e1b6c7;
    height: 830px;
}

.meet-container--principal {
    width: 80%;
    margin: auto;
}

.meet--titulo h1 {
    margin: auto;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 900;
}
.meet--titulo p {
    margin: auto;
    width: 40%;
    color: rgb(168, 168, 168);
    font-weight: 100;
    text-align: center;
    font-size: 18px;
}

.meet-cards {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 3rem 1rem;
}

.meet-cards--card1 {
    width: 27%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.meet-cardText {
    background-color: white;
    width: 100%;
    height: 285px;
}

.meet-cardText>h2 {
    font-size: 30px;
    font-weight: 900;
}

.meet-cardText>p {
    padding: 0 1rem 1rem 0;
    color: gray;
}

.meet-cards--logo2 {
    display: inline;
    font-size: 40px;
    padding: 0.3rem;
}

.meet-cards--logo2 .fa-facebook{
    color: blue;
}

.meet-cards--logo2 .fa-twitter-square{
    color: rgb(0, 145, 255);
    font-size: 43px;
    border: 1px solid rgb(0, 145, 255);
    border-radius: 100%;
}
.meet-cards--iconos{
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.meet-cards--logo2 img{
    width: 42px;
    height: 42px;
    padding: 0 0.5rem;
}

.meet-cards--logo2 .fa-pinterest{
    color: red;
}

.meet-imaa {
    width: 100%;
}

/* Section 5*/

.recent-post__section5 {
    height: 970px;
    background-color: #b4d4df;
}
.recent-contenedor--principal{
    width: 80%;
    margin: auto;
}

.recent-post--titulo h1 {
    margin: auto;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 900;
}

.recent-post--titulo p {
    margin: auto;
    width: 40%;
    color: rgb(168, 168, 168);
    font-weight: 100;
    text-align: center;
    font-size: 18px;
}

.container-posts {
    width: 95%;
    margin: auto;
    display: flex;
    padding-top: 4rem;
}

.container-posts--card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    text-align: center;
}

.post-card--fondo {
    background-color: rgb(232, 230, 230);
    display: flex;
    height: 200px;
}

.post-card--fondo>img {
    margin: auto;
}

.post-card--texto {
    background-color: white;
    width: 100%;
    height: 250px;
    
}

.post-card--texto>h4 {
    font-weight: 550;
    color: rgb(85, 85, 85);
    font-size: 19;
}

.post-card--texto>p {
    font-weight: 500;
    font-size: 19px;
    color: gray;
    width: 80%;
    margin: auto;
    
}



 .recent-botom--show {
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px white;
    color: #b4d4df;
    text-decoration: none;
    background-color: whitesmoke;

}

/* Section 6*/

.contactUs__section6 {
    height: 1050px;
    background-color: #3c3c3c;
}

.contactUs--titulo h1 {
    margin: auto;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 900;
}

.contactUs--titulo p {
    margin: auto;
    width: 40%;
    color: rgb(168, 168, 168);
    font-weight: 100;
    text-align: center;
    font-size: 18px;
}

.contactUs--parrafo {
    width: 70%;
    margin: auto;
    padding: 2rem 0;
}

.contact--box {
    width: 40%;
    margin: auto;
    padding-top: 3.7rem;
}

#Name {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 22px;
}

#Email {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 22px;
}

#Cajatexto {
    display: block;
    height: 200px;
    width: 100%;
    border: 2px solid #3c3c3c;
    border-radius: 15px;
    padding: 1rem;
    font-size: 22px;
    resize: none;
}

.contact_buton{
    color: rgb(54, 54, 54);
}

.show-box {
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px white;
    color: rgb(84, 84, 84);
    text-decoration: none;
    background-color: whitesmoke;

}
/* Footer */
.footer {
    height: 150px;
    background-color: #3c3c3c;
    width: 100%;
}

.footer-container {
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.footer-texto {
    color: #818080;

}

.footer-lineaa {
    height: 2px;
    margin-bottom: 2rem;
    background-color: rgb(19, 19, 19);
    width: 68%;
    margin: auto;

}

.footer-logos {
    display: flex;
}

.cont-logo {
    text-decoration: none;
    height: 50px;
    width: 50px;
    background-color: #818080;
    display: flex;
    border: 1px solid #3c3c3c;
    border-radius: 100%;
    margin-right: 18px;

}


.fa-facebook-f, .fa-html5, .fa-css3, .fa-twitter{
    color: #3c3c3c;
    margin: auto;
    font-size: 35px;
}

.p-amarillo {
    color: rgb(198, 141, 36);
    text-decoration: none;
}

.footer_text{
    word-spacing : 10px;
}

/* botones generales en diferentes seccicones*/
.recent--botom, .recent-post--botom, .contact-botom{
    padding-top: 4.5rem;
    display: flex;
}

/* Titulos generales en diferentes seccicones */

.recent--titulo,.meet--titulo, .recent-post--titulo, .contactUs--titulo {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 4rem;
}
