
/* Header */
header{
    background-color: #a8d4dd; 
}
.container .menu>.porftolio-border  {
    border-radius: 10px;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    color: #a8d4dd !important;
}
.circle {
    display: flex;
    justify-content: center;
}
.circle-next{
    color: #a8d4dd;
    border: 4px solid white;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    margin: 8px;
}
.circle-diferent {
    border: 4px solid white;
    border-radius: 100%;
    background-color: white;
    height: 28px;
    width: 28px;
    margin: 8px;
}

/* Main */

/* Section-recent-works */
.recent-works{
    background-color: #97d2a4;
}
 /* Section-layred */
.layred{
    background-color: #f1f1f1;
}

/* Secion meet */

.meet{
    background-color: #e1b6c7;
}

.card{
    width: 21rem;
}

 .img-twitter{
    width: 42px !important;
    height: 42px !important;
}

/* section-recent-post */
.recent{
    background-color: #b4d4df;
    
}
.users{
    width: 24rem !important;
}
.bg-image{
   
    height: 200px;
    background-color: rgb(232, 230, 230);
   
}
/* Section-contact-us*/
.contact-us{
    background-color: #3c3c3c;
}

textarea{
    height: 200px !important;
}



/* Generale */
.py-25{
    padding: 0.7rem 0 !important;
}.w-70{
    width: 70% !important;
}
.bg-green{
    background-color: #97d2a4 !important;
}

.bg-blue-light{
    background-color: #a8d4dd !important;
}
.text-blue-light{
    color: #a8d4dd !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
 
.text-grey-light{
    color: #3c3c3c !important;
}