@import url(var.css);

/* Header */
header{
    background-color: var(--template); 
}
.porftolio-border  {
    background-color: var(--grey-dark) !important;
}
.circle-next{
    height: 28px;
    width: 28px; 
}
.circle-diferent {
    height: 28px;
    width: 28px;
}

/* Main */

/* Section-recent-works */
.recent-works{
    background-color: var(--recent-works);
}
 /* Section-layred */
.layred{
    background-color: var(--layred);
}

/* Secion meet */
.meet{
    background-color: var(--meet);
}
.card{
    width: 21rem;
}
 .img-twitter{
    width: 42px !important;
    height: 42px !important;
}

/* section-recent-post */
.recent{
    background-color: var(--recent) ;
}
.users{
    width: 24rem !important;
}
.bg-image{
    height: 200px;
    background-color: var(--bg-grey-lighter); 
}

/* Section-contact-us*/
textarea{
    height: 200px !important;
}

/* Footer */
.cont-logo {
    height: 50px;
    width: 50px;
}

/* Generale */
.py-25{
    padding: 0.7rem 0 !important;
}.w-70{
    width: 70% !important;
}
.bg-green{
    background-color: var(--recent-works) !important;
}
.bg-blue-light{
    background-color: var(--template) !important;
}
.text-blue-light{
    color: var(--template) !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
.text-orange{
    color: var(--orange-lighter);
}
.text-grey-light{
    color: var(--contact-us) !important;
}
.text-grey-lighter{
    color: var(--grey-lighter) !important;
}
.bg-grey-lighter{
    background-color: var(--grey-lighter) ;
}
.bg-grey{
    background-color: var(--contact-us) !important;
}
.border-r{
    border-radius: 10px !important;
}