:root{
    --recent-works: #97d2a4;
    --template: #a8d4dd;
    --layred:#f1f1f1;
    --meet:#e1b6c7;
    --recent:#b4d4df;
    --contact-us:#3c3c3c;
    --grey-lighter:#818080;
    --bg-grey-lighter:rgb(232, 230, 230);
    --orange-lighter:rgb(198, 141, 36);
    --grey-dark:rgb(53, 53, 53);


}