:root{
    --green: #97d2a4;
    --blue: #a8d4dd;
    --white-smoke:#f1f1f1;
    --pink:#e1b6c7;
    --blue-light:#b4d4df;
    --grey:#3c3c3c;
    --grey-lighter:#818080;
    --bg-grey-lighter:rgb(232, 230, 230);
    --orange-lighter:rgb(198, 141, 36);
    --grey-dark:rgb(53, 53, 53);


}